2024/2.py
2_input.txt
3_small_input.txt
3_input.txt
3_b_input.txt
4_real_input.txt
4_small_input.txt
5_rows_input.txt
5_rules_input.txt
5_small_rules.txt
5_small_input.txt
5_small_rows.txt
5_small_rows_input.txt
5_small_rules_input.txt
6_actual_input.txt
6_input.txt
6_small_input.txt
7_actual_input.txt
7_small_input.txt
7_smaller_input.txt
2024/9.py
9_actual_input.txt
9_small_input.txt
9_smaller_input.txt
13_actual_input.txt
13_small_input.txt